Automacao/anotacoesPessoais
RodandoVariosAmbientes/relatórios
RodandoVariosAmbientes/results
RodandoVariosAmbientes/Gemfile.lock
CapybaraTeste/Gemfile.lock
CucumberTeste/Gemfile.lock
SitePrism/Gemfile.lock
